body {
    background-color: rgb(37, 36, 36);
}

nav {
    width: 12%;
    color: #fff;
    margin-top: 25px;
    transform: translate(110px);
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 5px;
    border-bottom: 1px solid;

}

img {
    width: 30%;
    margin: calc(9%/6);
    
}

.colors{
 filter: grayscale(1);
 
}

.colors:hover{
    filter: none;
    transform: scale(1.01);
    transition:500ms linear 0s;
}
